html {
    height: 100%;
    background: url(possibleBackground.jpg) no-repeat center center;
    background-size: cover;
}

h1 {
    text-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 30px #fff,
                0 0 40px #FFD700,
                0 0 70px #FFD700,
                0 0 80px #FFD700,
                0 0 100px #FFD700,
                0 0 150px #FFD700;
    text-align: center;
    left: 540px;
    font-size: 100px;
}
.btn-lg {
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  height: 100px;
  width: 100px;
  position: relative;
}

.btn-lg:hover {
  text-decoration: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}

div {
    width: 80%;
    height: 600px;
    margin: 4em auto;
    background-color: rgba(225,225,225,.8);
}