<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Movie Buzz</title>
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
</head>

<body>
  {{{body}}}
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
