<h1>Edit Profile</h1>
<h5>
	<form>
	First Name:<br>
	<input type = "text" value = "{{username}}"" name = "firstname">
	<br>
	Last Name:<br>
	<input type = "text" name = "lastname">
	<br>
	Email:<br>
	<input type = "text" name = "email">
	New Password:<br>
	<input type = "text" name = "newPassword">
	Confirm Password:<br>
	<input type = "text" name = "confimPassword">
	</form>
</h5>