<div class="container">
  <h2>Login</h2>

  <div class="jumbotron">
    {{#if message}}
      <div class="alert alert-warning" role="alert">{{message}}</div>
    {{/if}}
    <form action="/login" method="post" role="form">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">

      <div class="form-group">
        <label for="inputName" class="control-label">Username</label>
        <input type="text" name="username" class="form-control" id="inputName" placeholder="George Burdell" required>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="control-label">Password</label>
        <input type="text" name="password" class="form-control" id="inputPassword" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-default" href='/'>Cancel</a>
      </div>
    </form>
  </div>
</div>
