<ul class="movie_list">
  {{#each movies}}
  

<div class="panel panel-default">
  <div class="panel-heading">{{this.title}} (t{{his.year}})</div>
  <div class="panel-body">Panel Content</div>
</div>

        
        
  {{else}}
    <p>No result</p>
  {{/each}}
</ul>
