<ul class="movie_list">
  {{#each movies}}
  

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="{{this.posters.detailed}}" alt="moviePoster">
  </div>
 </div>
</div>

        
        
  {{else}}
    <p>No result</p>
  {{/each}}
</ul>
