<ul class="movie_list">
  {{#each movies}}
  <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{this.poster.profile}}" alt="Profile">
      <div class="caption">
        <h3>{{this.title}} ({{this.year}})</h3>
        <p>description</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
  {{else}}
    <p>No result</p>
  {{/each}}
</ul>
