<link href="vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>

<div class="container">
  <div class="jumbotron">
    <h2>User profile</h2>
    <p>Your username is {{username}} </p>
    
    <a class="btn btn-default" href="/logout">Log out</a>
  </div>
</div>

