<h1>User profile</h1>
<h5>
  <p>Your username is {{username}} </p>
  <br/>
<form name = "edit" method = "get" action = "/editProfile"> </form>

  <form name="logout_form" method="get" action="/logout">
    <div style="text-align: center">
      <input name="submit_logout" type="submit" value="Logout">
    </div>
  </form>
</h5>

