<h1>User profile</h1>
<h5>
  <p>Username: {{username}} </p>
  <p>Email: {{email}}</p>
  <br/>
<form name = "edit" method = "get" action = "/editProfile"> 
  <input name = "editpage" type = "submit" value = "Edit Profile">
</form>

  <form name="logout_form" method="get" action="/logout">
    <div style="text-align: center">
      <input name="submit_logout" type="submit" value="Logout">
    </div>
  </form>
</h5>

