<link href="public/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="public/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>

<div class="container">
  <div class="jumbotron">
    <h2>User profile</h2>
    <p>Your username is 
    
    <a href="#" id="username">superuser</a>
    
    </p>
    
    <a class="btn btn-default" href="/logout">Log out</a>
  </div>
</div>


