<h1>User registration</h1>

<h4> {{message}} </h4>
<br/>
<form action="/register" method="POST">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  Username: <input type="text" name="username"><br/>
  Password: <input type="password" name="password"><br/>
  Confirm Password: <input type="password" name="confirmPassword"><br/>
  Email: <input type="text" name="email"><br/>
  <button type="submit">Submit</button>
</form>
