<h1>User registration</h1>

<h4> {{message}} </h4>
<br/>
<h5>
<form action="/register" method="POST">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  Your Username: <input type="text" name="username"><br/>
  Your Password: <input type="password" name="password"><br/>
  <button type="submit">Submit</button>
</form>
</h5>
