<h1>Welcome to MovieBuzz!</h1>


<ul>
  {{#if user}}
    <p style="text-align: center"><a href="/profile">Profile</a></p>

  {{else}}
    <form action="login" class="center">
      <div style="text-align:center;">
        <input type="submit" class="btn btn-default btn-lg" value="LOGIN"/>
      </div>
    </form>
    <form action="register" class="center">
      <div style="text-align:center;">
        <input type="submit" class="btn btn-default btn-lg" value="REGISTER"/>
      </div>
    </form>
    <img class="center" style="display: block" width="300" height="300"
         src="http://www.news.gatech.edu/sites/default/files/uploads/mercury_images/ta_dah_buzz_2_buld_copy_copy_0.jpg"
        >
  {{/if}}
</ul>

{{#if user}}
  <form name="logout_form" method="get" class="center" action="/logout">
    <div style="text-align:center;">
      <input name="submit_logout" type="submit" value="Logout" class="center">
    </div>
  </form>
{{/if}}


