<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">Welcome to Movie Buzz</h2>

    <p class="text-center">
      {{#if user}}
        <a class="btn btn-primary" href="/profile" role="button">Profile</a>
        <a class="btn btn-default" href="/logout" role="button">Log out</a>
      {{else}}
        <a class="btn btn-primary" href="/login" role="button">Login</a>
        <a class="btn btn-default" href="/register" role="button">Register</a>
      {{/if}}
    </p>
  </div>
</div>
