<h1>Welcome to MovieBuzz!</h1>


<ul>
  {{#if user}}
  
    <li class="center"><a class="center" href="/profile">Profile</a></li>
    
  {{else}}
  <h3>
  <form action = "login">
  <input type="submit" class="btn btn-default btn-lg" value = "LOGIN"></input>
  </form>
</h3>
<h4>
  <form action = "register">
  <input type="submit" class="btn btn-default btn-lg" value = "REGISTER"></input>
  </form>
</h4>

<h5>
  <img src="http://www.sanantoniomag.com/movie%20clapper%20by%20Africa%20Studio%20shutterstock_com%20web.jpg" alt="Klematis" width="300" height="300">
  <img src="http://www.news.gatech.edu/sites/default/files/uploads/mercury_images/ta_dah_buzz_2_buld_copy_copy_0.jpg" alt="Klematis" width="300" height="300">
</h5>
    
  {{/if}}
</ul>

{{#if user}}
<h5>
  <form name="logout_form" method="get" action="/logout">
    <input name="submit_logout" type="submit" value="Logout">
  </form>
  </h5>
{{/if}}


